<a href={{@route}} class="index-card-content">
    <img class="index-card-image" src={{@imagePath}} alt={{@imageAltText}}>
    <p>
        {{#if @displayText}}
            {{@displayText}}
        {{else}}
            {{@route}}
        {{/if}}
    </p>
</a>