<table class="resource-table">
    {{#each @model as |item|}}
        <tbody>
            <td>
                <img class="item-thumbnail-image" src={{if item.imagePath item.imagePath this.defaultImagePath}}>
            </td>

            <td>
                <h5 class="item-header">
                    {{#if (eq item.constructor.modelName "bike")}}
                        <b>{{concat item.year ' ' item.make ' ' item.model}}</b>
                    {{else}}
                        {{#let (fn this.createDisplayName item) as |displayName|}}
                            <b>{{displayName}}</b>
                        {{/let}}
                    {{/if}}
                </h5>

                <ul>
                    {{#let (get-table-details item.constructor.modelName) as |ContextSpecificComponent|}}
                        <ContextSpecificComponent @item={{item}}/>
                    {{/let}}
                </ul>
            </td>
        </tbody>
    {{/each}}
</table>